.tablesorter-blue {margin-top: 0px;}
.table thead th {font-size: 16px;background-color: inherit;}
tbody{font-size:16px;}
.tablesorter-blue .tablesorter-headerAsc,.tablesorter-blue .tablesorter-headerDesc{background-color: inherit;}
