<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>部门管理</title>
<link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="../../js/jquery-1.9.1.min.js"></script>  
<script src="../../assets/js/bootstrap.min.js"></script>
</head>

<body>

<form    class="form-inline">
	<div class="row alert alert-info" style="margin:0px; padding:0px; padding-left:50px;">
    	<div class="form-group">
        	<label>员工编号</label>
            <input type="text" class="form-control" placeholder="请输入员工编号">
            <label>员工姓名</label>
            <input type="text" class="form-control" placeholder="请输入员工姓名">
            <label>员工帐号</label>
            <input type="text" class="form-control" placeholder="请输入员工帐号">
        </div>
        <input type="submit" class="btn btn-danger" value="查询">
    	<a href="employeeAdd.html" class="btn btn-success">添加员工</a>
    </div>
	<div class="row"  style="padding:15px;">
    	<table class="table" >
        	<tr>
            	<th>员工编号</th>
            	<th>员工姓名</th>
                <th>员工性别</th>
                <th>部门名称</th>
                <th>员工年龄</th>
                <th>电话号码</th>
                <th>员工帐号</th>
                <th>操作</th>
            </tr>
            <tr>
            	<td>10001</td>
                <td><a href="employeeInfo.html">张三 </a></td>
                <td>男</td>
                <td>技术部</td>
                <td>19</td>
                <td>1922222222</td>
                 <td>zhangsan123</td>
            	<td>
                	<a href="employeeUpdate.html">修改</a>
                    <a href="#">删除</a>
                </td>	
            </tr>
                      <tr>
            	<td>10001</td>
                <td>张三</td>
                <td>男</td>
                <td>技术部</td>
                <td>19</td>
                <td>1922222222</td>
                 <td>zhangsan123</td>
            	<td>
                	<a href="employeeUpdate.html">修改</a>
                    <a href="#">删除</a>
                </td>	
            </tr>          <tr>
            	<td>10001</td>
                <td>张三</td>
                <td>男</td>
                <td>技术部</td>
                <td>19</td>
                <td>1922222222</td>
                 <td>zhangsan123</td>
            	<td>
                	<a href="employeeUpdate.html">修改</a>
                    <a href="#">删除</a>
                </td>	
            </tr>          <tr>
            	<td>10001</td>
                <td>张三</td>
                <td>男</td>
                <td>技术部</td>
                <td>19</td>
                <td>1922222222</td>
                 <td>zhangsan123</td>
            	<td>
                	<a href="employeeUpdate.html">修改</a>
                    <a href="#">删除</a>
                </td>	
            </tr>          <tr>
            	<td>10001</td>
                <td>张三</td>
                <td>男</td>
                <td>技术部</td>
                <td>19</td>
                <td>1922222222</td>
                 <td>zhangsan123</td>
            	<td>
                	<a href="employeeUpdate.html">修改</a>
                    <a href="#">删除</a>
                </td>	
            </tr>       
        </table>
    
    </div>
</form>

</body>
</html>
