<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>注册</title>
</head>
<link rel="stylesheet" type="text/css" href="css/zhuce.css" />
<link rel="stylesheet" type="text/css" href="css/common.css" />

<body>
	<div id="box">
		<div id="box-bn">
			<form accept-charset="UTF-8" action="/" class="register-form" id="new_user" method="post">
				<div class="header">
					<div class="left fl">
						<i class="fa fa-user-o"></i>
						<span>注册</span>
					</div>
					<span class="right fr">
						<span class="have-account">已有帐号?</span>
						<a href="javascript:void(0)">登录</a>
					</span>
				</div>
				<div id="register">
					<div class="inline">
						<label>邮箱</label>
						<input id="user_email" name="user[email]" placeholder="请输入工作邮箱" required="required" size="30" type="text" value="">
						<label></label>
						<div th:text="${error}" class="checkbox" style="color: red;"></div>
					</div>

					<div class="inline">
						<label>邮箱验证</label>
						<div class="email">
							<input id="email_captcha" name="email_captcha" placeholder="请输入邮箱验证码" required="required" type="text" value="">
							<button class="btn1" data-title="获取验证码" disabled="disabled" type="button">获取验证码</button>
						</div>
						<div class="text">
							<a href="javascript:void(0)" target="_blank">收不到邮件?</a>
						</div>
						<label></label>
						<div th:text="${error}" class="checkbox" style="color: red;"></div>
					</div>
					<div class=" inline">
						<label for="name">姓名</label>
						<input id="user_name" name="user[name]" required="required" size="30" type="text">
						<label></label>
						<div th:text="${error}" class="checkbox" style="color: red;"></div>
					</div>

					<div class=" inline">
						<label for="password">密码</label>
						<input id="user_password" placeholder="密码不少于6位" required="required" size="30" type="password">
						<label></label>
						<div th:text="${error}" class="checkbox" style="color: red;"></div>
					</div>
					<div id="foot">
						<button id="btn-submit" name="button" type="submit">注 册</button>
						<div class="other">
							<span>
								其他方式登录
							</span>
						</div>
						<div class="other-login">
							<div class="item">
								<a href="javascript:void(0)">
									<div class="qq">
										<i title="使用QQ帐号登录"></i>
									</div>
								</a>
							</div>
							<div class="item">
								<a href="javascript:void(0)">
									<div class="weibo">
										<i  title="使用Weibo帐号登录"></i>
									</div>
								</a>
							</div>
							<div class="item">
								<a href="javascript:void(0)">
									<div class="baidu">
										<i title="使用 BaiDu 帐号登录"></i>
									</div>
								</a>
							</div>
							<div class="item">
								<a href="javascript:void(0)">
									<div class="cc">
										<i  title="使用CC帐号登录"></i>
									</div>
								</a>
							</div>
							<div class="item">
								<a href="javascript:void(0)">
									<div class="git">
										<i title="使用GitHub帐号登录"></i>
									</div>
								</a>
							</div>

						</div>
					</div>
				</div>
		
			</form>

		</div>
	</div>
</body>

</html>
