div.step_context{height:37px; margin:15px; border-left:solid 1px #000000;}

.step_context ul{  height:37px; width:auto; list-style:none; margin:0px; padding:0px; float:left; }
.step_context li{ 
background-image:  url("../image/step1.png");
 background-repeat:no-repeat;
border:none;
height:37px;width:165px; 
float:left;
list-style:none;
line-height:37px;position:relative;  }
.step_context li  span{
background-color:#268226;width:35px; height:26px; display:block; position:absolute; top:5px; left:4px; line-height:25px; color:#FFFFFF; font-weight:bold; font-size:17px; text-align:center;}
.step_context li a{ 
background-image:  url("../image/step1.png"); background-repeat:repeat-x;border:none;height:37px;width:153px; float:left;color:#003300; text-decoration:none; font-size:12px;list-style:none; text-align:center;  }
/*已经完成的步骤的样式*/
li.finshStep{
 background-position: 153px 0px;
}
li.finshStep a{
 background-position: 153px -237px;
}
/*第一步完成的步骤的样式*/
li.firstFinshStep{
 background-position: 153px 0px;
}
li.firstFinshStep a{
 background-position: 153px -237px;
}
/*只进行到第一步*/
li.firstFinshStep_curr1{
 background-position: 153px 0px;
}
li.firstFinshStep_curr1 a{
 background-position: 153px -237px;
}

/*下一步未完成的步骤样式*/
li.coressStep{
 background-position: 153px -79px;
  background-color:#77BB77;
}
li.coressStep a{
 background-position: 153px -237px;
}
/*等待完成的步骤样式*/
li.loadStep{
 background-position: 153px -118px;
 
}
li.loadStep a{
 background-position: 153px -198px;
}
li.loadStep  span{
background:#515751;}
/*最后一个步骤完成后的样式*/
li.finshlast{
 background-position: 153px -39px;
 
}
li.finshlast a{
 background-position: 153px -237px;
}
/*最后一个步骤的样式*/
li.last{
 background-position: 153px -158px;
 }
 li.last a{
 background-position: 153px -198px;
}
li.last  span{
background:#515751;}
