@charset "utf-8";
header{
	width: 100%;
	height: 100px;
	background-color: #fff;
	border-bottom: 2px solid #48a75b;
	overflow: hidden;
}
header .head_cont{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}
header .head_cont img:first-child{
	width: 166px;
	height: 70px;
	position: absolute;
	left: 0px;
	top: 10px;
}
header .head_cont img:last-child{
	width: 204px;
	height: 46px;
	position: absolute;
	left:190px ;
	top: 25px;
}
/*内容*/
.content{
	width: 1000px;
	height: auto;
	margin: 0 auto;
	box-sizing: border-box;
}
.content .con_head{
	position: relative;
	width: 1000px;
	height: 62px;
	padding-top: 22px;
	box-sizing: border-box;
}
.content .con_head img{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-left: 12px;
}
.content .con_head h1{
	font-size: 15px;
	vertical-align: middle;
	display:inline-block;
	margin-left: 5px;
}
.content .con_head p{
	font-size:12px;
	color: #878484;
	position: absolute;
	right: 30px;
	top: 26px;
}
.content .con_head #oLoad{
	font-size: 12px;
	color: #91b5e9;
	position: absolute;
	right: 5px;
	top: 26px;
}
/*正文*/
.content .con_cont{
	width: 1000px;
	height: 845px;
	border: 1px solid #dcdcdc;
	position: relative;
	box-sizing: border-box;
}
/*小背景*/
.content .con_cont .con_he_bg{
	width: 100%;
	height: 108px;
	background: url(../images/back1.jpg) repeat-x;
	position: relative;
}
.content .con_cont .con_he_bg p{
	font-size: 15px;
	color: #878484;
}
.content .con_cont .con_he_bg p:nth-of-type(1){
	position: absolute;
	left: 34px;
	top: 15px;
}
.content .con_cont .con_he_bg p:nth-of-type(2){
	position: absolute;
	left: 425px;
	top: 15px;
}
.content .con_cont .con_he_bg p:nth-of-type(3){
	position: absolute;
	right: 45px;
	top: 15px;
}
.content .con_cont .con_he_bg .con_he_bg_two{
	width: 900px;
	height: 34px;
	position: absolute;
	bottom: 30px;
	left: 58px;
}
.content .con_cont .con_he_bg .con_he_bg_two img{
	margin-left: -5px;
}
/*常见问题*/
.content .footer{
	width: 950px;
	height: 280px;
	background-color: #f2f2f2;
	position: absolute;
	bottom: 20px;
	left: 20px;
	padding: 30px 20px;
	box-sizing: border-box;
}
.content .footer{
	font-size: 12px;
}
.content .footer ul{
	width: 600px;
	height: 40px;
	margin-top: 30px;
}
.content .footer ul li{
	width: 600px;
	height: 20px;
	line-height: 20px;
}



/*验证*/
.content .con_cont .reg{
	width: 950px;
	height: 400px;
	background: #fff;
	position: absolute;
	top:110px;
	left: 20px;
}
/*二维码图片*/
 #photo{
	width: 198px;
	height: 400px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border: 1px solid #dcdcdc;
}
 #photo img:nth-child(3){
	width: 198px;
	height: 153px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
#photo img:nth-child(1){
	width: 153px;
	height: 150px;
	position: absolute;
	top: 27px;
	left: 27px;
}
#photo img:nth-child(2){
	width: 88px;
	height: 17px;
	position: absolute;
	left: 57px;
	top: 200px;
}
/*中间顶部*/
.content .con_cont .cen_top{
	width: 750px;
	height: 200px;
	border-bottom: 2px dashed #f2f2f2;
	padding-top: 35px;
	box-sizing: border-box;
	font-size: 15px;
	position: relative;
}
.content .con_cont .cen_top #giveNum{
	position: absolute;
	top: 85px;
	font-size: 20px;
	left: -5px;
}
.content .con_cont .cen_top p{
	margin-left: 118px;
}
.content .con_cont .cen_top h1{
	margin-left: 65px;
	display: inline-block;
}
.content .con_cont .cen_top #confirm_the_number{
    margin-left: 10px;
    margin-top: 30px;
    width: 160px;
    height: 30px;
    border:1px solid #e2e2e2;
}
.content .con_cont .cen_top button{
	width: 155px;
	height: 30px;
    background-color: #ff9000;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    position: absolute;
left: 120px;
bottom: 30px;
border-radius: 5px;
}
.content .con_cont .cen_top #enter_error{
	width: 195px;
	height: 25px;
	border: 1px solid #ffb924;
	font-size: 14px;
	color:#fd874c;
	text-align: center;
	line-height: 25px;
	background-color: #fff6cf; 
	position: absolute;
	left: 290px;
	top: 83px;
	display: none
}
/*中间底部*/
.content .con_cont .cen_bottom{
	width: 750px;
	height: 190px;
	font-size: 12px;
	position: relative;
}
.content .con_cont .cen_bottom p{
    position: absolute;
    left: 120px;
    top: 50px;
}
.content .con_cont .cen_bottom input{
	width: 130px;
	height: 30px;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	background-color: #f2f2f2;
	position: absolute;
	left: 120px;
	top: 95px;
}
/*底部*/
footer{
	width: 100%;
	height: 230px;
    overflow: hidden;
    background: #fff;
    position: relative;
}
footer .first_foot{
	width: 100%;
	height: 105px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
}
footer .first_foot ul{
	width: 605px;
	height: 15px;
	margin: 75px auto;
}
footer .first_foot ul li{
	width: 120px;
	height:15px ;
	border-right: 1px solid #e5e5e5;
	float: left;
	text-align: center;
}
footer .second_foot{
	width: 600px;
	height: 15px;
    margin: 25px auto;
}
footer .second_foot p{
	font-size: 15px;
}

footer .second_foot p span{
	font-size: 15px;
	color: #e8e8e8;
}
















